# This mailmap fixes up author names/addresses.
#
# If you are adding to this file consider if a similar change needs to
# be made to contrib/gitdm/aliases. They are not however completely
# analogous. .mailmap is concerned with fixing up damaged author
# fields where as the gitdm equivalent is more concerned with making
# sure multiple email addresses get mapped onto the same author.
#
# From man git-shortlog the forms are:
#
#  Proper Name <commit@email.xx>
#  <proper@email.xx> <commit@email.xx>
#  Proper Name <proper@email.xx> <commit@email.xx>
#  Proper Name <proper@email.xx> Commit Name <commit@email.xx>
#

# Translate a few commits where mailman rewrote the From: line due to
# strict SPF, although we prefer to avoid adding more entries like that.
Niklas Cassel <niklas.cassel@wdc.com> Niklas Cassel via SeaBIOS <seabios@seabios.org>
Lukas Stockner <lstockner@genesiscloud.com> Lukas Stockner via SeaBIOS <seabios@seabios.org>
Jan Beulich <jbeulich@suse.com> Jan Beulich via SeaBIOS <seabios@seabios.org>
Alex Martens <alexmgit@protonmail.com> Alex Martens via SeaBIOS <seabios@seabios.org>
Stefan Ott <stefan@ott.net> Stefan Ott via SeaBIOS <seabios@seabios.org>
